{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    My Note Groups
    <a href="{% url 'note:note-group-create' %}" class="btn btn-primary link-to-page">
      +
    </a>
  </h1>

  <form action="" method="get" class="form-inline">
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="🔍">
  </form>
  <br>

  <form action="" method="get">
    {{ filter_form|crispy }}
    <input class="btn btn-primary" type="submit" value="Apply filter">
    <a href="{% url 'note:note-group-list' %}" class="btn btn-secondary link-to-page">
      x
    </a>
  </form>
  <br>

  {% if note_group_list %}
    <ul>
      {% for group in note_group_list %}
        <li>
          <a href="{% url "note:note-group-detail" pk=group.id %}">{{ group.id }}</a>
          {{ group.name }} ({{ group.owner.username }})
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no groups...</p>
  {% endif %}
{% endblock %}
