{% extends "base.html" %}

{% block content %}

  <div class="note-view">
    <h1 class="title">
      {{ note.title }}
      <a href="{% url 'note:note-list' %}" type="submit" class="btn btn-light">✖</a>
      {% if user.id == note.owner.id %}
        <a href="{% url 'note:note-update' pk=note.id %}" class="btn btn-outline-dark link-to-page">
          ✍️
        </a>

        <a href="{% url 'note:note-delete' pk=note.id %}" class="btn btn-outline-danger link-to-page">
          🗑️
        </a>
      {% endif %}
    </h1>
    <div class="meta">
      <span class="author">
        <a href="{% url 'users:profile' pk=note.owner.id %}">
          {{ note.owner.username }},
        </a>
      </span>
      <span class="time">Date: {{ note.created_at }}</span>
    </div>
    <div class="tags">
      Tags:
      {% for tag in note.tags.all %}
        <span class="tag">{{ tag.name }}</span>;
      {% endfor %}
    </div>
    <hr>
    <div class="body">
      {{ note.body }}
    </div>
  </div>


{% endblock %}
