{% extends "base.html" %}

{% block content %}
  <h1>
    {{ note.title }}
    <a href="{% url 'note:note-update' pk=note.id %}" class="btn btn-light link-to-page">
      ✍️
    </a>

    <a href="{% url 'note:note-delete' pk=note.id %}" class="btn btn-danger link-to-page">
      🗑️
    </a>
  </h1>
  <p>{{ note.owner.username }} on {{ note.created_at }}</p>
  <p>Topics:
      {% for tag in note.tags.all %}
          {{ tag.name }}
      {% endfor %}
  </p>
  <p>{{ note.body }}</p>
{% endblock %}
