{% extends "base.html" %}

{% block content %}
  <div class="index-block">
    <h1 class="index-head">
      <span class="oh-yes">Congratulations!</span>
      <br> You can hire a CEO of "ooh! Notes Inc."
    </h1>
    <br>
    <h3>Contact this talented developer!</h3>
    <br>
    <p class="index-p">
      <strong>Email: </strong>chebukin404@gmail.com
    </p>
    <br>
    <a class="index-btn btn btn-dark" href="mailto:chebukin404@gmail.com">Send a mail!</a>
    <br>
    <br>
    <br>
  </div>
{% endblock %}
