{% extends "base.html" %}

{% block content %}
  <div>
    <h1>
      @{{ techuser.username }}
      {% if user.id == techuser.id %}
        <a href="{% url 'users:profile-update' pk=user.id %}" class="btn btn-outline-dark link-to-page">
          ✍️
        </a>
        <a href="{% url 'users:profile-delete' pk=user.id %}" class="btn btn-outline-danger link-to-page">
          🗑️
        </a>

      {% endif %}
    </h1>

    <p>{{ techuser.first_name }} {{ techuser.last_name }}</p>
    <p><strong>email: </strong>{{ techuser.email }}</p>
    <br>

    <h4>Notes</h4>
    {% if techuser.notes.all %}
      <ul class="note-list">
        {% for note in techuser.notes.all %}
          <a href="{% url 'note:note-detail' pk=note.id %}">
            <p class="note-item"><span class="emoji">🗒</span> {{ note.title }}</p>
          </a>
        {% endfor %}
      </ul>
    {% else %}
      <p>There are no notes...</p>
    {% endif %}

    <h4>Note Groups</h4>
    {% if techuser.note_groups.all %}
      <ul class="note-list">
        {% for group in techuser.note_groups.all %}
          <a href="{% url 'note:note-group-detail' pk=group.id %}">
            <p class="note-item"><span class="emoji">📒</span> {{ group.name }}</p>
          </a>
        {% endfor %}
      </ul>
    {% else %}
      <p>There are no groups...</p>
    {% endif %}
  </div>
{% endblock %}
